{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<h2>{{ quiz.title }}</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% trans "Nộp bài" %}</button>
</form>

<div id="timer">
  {% trans "Thời gian còn lại" %}:
  <span id="time">
    {% with quiz.time_limit|default:3 as minutes %}
      {{ minutes|add:0 }}:00
    {% endwith %}
  </span>
</div>

<script src="{% static 'quizzes/js/quiz_timer.js' %}"></script>
<script>
    startQuizTimer({{ quiz.time_limit|default:"3"|add:0 }});
</script>

{% endblock %}
